.businessCard {
  position: relative;
  display: block;
  width: 57%;
  height: 375px;
  margin: 0 auto;
  font-size: 0.7rem;
}

@media screen and (max-width: 846px) {
  .businessCard { width: 75%; }
}

.businessCard label {
  cursor: pointer;
}

.businessCard label:hover .card {
  box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

/*
.businessCard label:hover .card {
  -webkit-transform: rotateX(20deg);
  transform: rotateX(20deg);
  box-shadow: 0 20px 20px rgba(50,50,50,.2);
}
*/

.businessCard label input {
    display: none;
}

.businessCard label input:checked + .card {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.businessCard label:hover :checked + .card {
  transform: rotateX(160deg);
  -webkit-transform: rotateX(160deg);
  box-shadow: 0 20px 20px rgba(255,255,255,.2);
}

.businessCard .businessCard__icon {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 1;
  font-size: 1.2em;
}

.businessCard label:hover .businessCard__icon {
  animation: burst 2s linear infinite;
  transform-origin: 50% 50%;
}

.businessCard .card {
  position: relative;
  height: 100%;
  width: 100%;
  color: #fff;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: transform 600ms;
  transition: transform 600ms;
}

.businessCard .card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.businessCard .card__face--front {
  background: url('../img/card_background.png') no-repeat;
}

.businessCard .card__face--back > img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.businessCard .card__face--back {
  background-color: #1f1f1f;
  color: #fff;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.businessCard .card__details {
  padding: 15px 30px;
  background: transparent;
  box-sizing: border-box;
}

.businessCard .details__heading {
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
  font-weight: 300;
  margin-top: 17px;
}

.businessCard .details__subheading {
  font-size: 1.2em;
  font-weight: 300;
  margin: 5px 0 25px 2px;
}

.businessCard .details__description {
  line-height: 1.5em;
}

.businessCard .details__contact { margin-top: 25px; }
.businessCard .contact__email { text-decoration: none; }

.businessCard .details__sign {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(68, 46, 46, 0.2);
  padding: 10px;
  margin: 0;
  border-radius: 4px;
}

.businessCard .details__social {
  margin-top: 40px;
  overflow: hidden;
}

.businessCard .social__encyclopedia {
  float: left;
}

.businessCard .encyclopedia__img,
.businessCard .encyclopedia__caption {
  display: inline-block;
}

.businessCard .encyclopedia__caption {
  padding-top: 3px;
  padding-left: 10px;
  vertical-align: top;
  line-height: 20px;
}

.businessCard .encyclopedia__link { text-decoration: none; }

.businessCard .social__list {
  float: right;
  text-align: right;
}

.businessCard .social__list__item {
  position: relative;
  display: inline;
  padding-right: 20px;
}

.businessCard .social__list__item--block {
  display: block;
  padding-bottom: 20px;
}

.businessCard .social__link {
  display: inline-block;
}

.businessCard .social__img {
  z-index: 1;
}

.businessCard .social__list__item--block:hover .shadow {
  display: block;
  position: absolute;
  left: -1em;
  width: 108%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  transform: rotateX(73deg) translateZ(30px);
}
