
/* ABOUT */
#about {
  @include prefix((background-size: cover), webkit moz);
  position: relative;
  padding: 90px 10px;
  background-color: palette(black);
  background-repeat: no-repeat;
  background-position: center top;
  overflow: auto;

    /* Tablet */

    @include media ('screen', '>=tablet') {
      padding: 200px 0 0 0;
      background-color: palette(green-vogue, light);
      overflow: initial;
    }

    @include media ('screen', '>=760px', '<980px') {
      background-image: url('../img/tablet.jpg');
    }

    /* Desktop */
    @include media ('screen', '>980px', '<=desktop') {
      background-image: url('../img/desktop.jpg');
    }

    @include media ('screen', '>desktop', '<desktopHD') {
      background-image: url('../img/desktopHD.jpg');
    }

    @include media ('screen', '>=desktopHD') {
      background-image: url('../img/retina.jpg');
    }


    .l-container {
        color: palette(white);
        background-color: black(.7);

        @include media ('screen', '>=tablet') {
          @include border-top-radius(30px);
          left: 20%;
          width: 55%;
          overflow: inherit;

          &:after {
            content: '';
            display: block;
            clear: both;
          }
        }
    }

    .l-about {
      line-height: 1.8em;

      @include media ('screen', '>=tablet') {
        padding-top: 3.5em;
        padding-left: 40px;
      }
    }

    #about_img {
      @include border-radius(50%);
      display: block;
      margin: 15px auto;
      border: 7px solid;

      @include media ('screen', '>=tablet') {
        @include absolute(top -100px left 0 right 0);
      }
    }

    .about {
      // .about__paragraph
      @include element('paragraph') {
        font-weight: 300;
          // .about__paragraph--spaced
          @include modifier('spaced') {
            padding-top: 30px;
          }
      }
      // .about__paragraph
      @include element('link') {
        color: palette(gorse);

          &:hover,
          &focus {
            color: palette(white);
            background-color: palette(amaranth);
          }
      }
      // .about__emphasis
      @include element('emphasis') {
        font-weight: 500;
        color: palette(goldenrod);

          @include modifier('smallCaps') {
            font-variant: small-caps;
          }
      }

      // .about__list
      @include element('list') {
        float: left;
        width: 50%;
        font-size: 0.9em;
        padding: 30px 5px;

          & li:first-child {
            font-size: 2em;
            font-variant: small-caps;
          }
      }
    }
}
