
@function _c-card-conf($property, $config: $base-c-card) {
  @return conf($config, $property);
}

$_conf-front-face: _c-card-conf(front-face);
$_conf-back-face: _c-card-conf(back-face);
$_conf-heading: _c-card-conf(heading);
$_conf-subHeading: _c-card-conf(subHeading);

.c-businessCard {
  position: relative;
  width: _c-card-conf(width);
  max-width: 630px;
  height: 375px;
  margin: 120px auto 0;
  font-size: _c-card-conf(font-size);

  &:hover .c-card__icon:before {
      @include prefix-anim(rotateIn 1.5s both infinite);
  }

  // .c-businessCard__input
  @include element('input') {

    // .c-businessCard__input--trigger
    @include modifier('trigger') {
      @extend %none;

      // When the mouse goes over the card without having clicked it
      & + .c-card:hover {
        @include prefix((transform: rotateX(_c-card-conf(hover-rotation))), webkit);
        box-shadow: 0 20px 20px rgba(50, 50, 50, .2);
      }
      // When the user clicks on the card
      &:checked + .c-card {
        @include prefix((transform: rotateX(180deg)), webkit);
      };

      /* Safari FIX */
      &:checked + .c-card .c-card__face--front .c-card__social {
        @extend %none;
      }
      /* Safari FIX */
      &:checked + .c-card .c-card__face--front .c-card__icon {
        @extend %none;
      }

      /* IE10+ */
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        &:checked + .c-card .c-card__face--back {
          backface-visibility: visible;
        }
      }
    }
  }

  // .c-card component
  .c-card {
    @include size(100%);
    @include prefix((transform-style: preserve-3d), webkit);
    @include prefix-transition(transform 600ms);
    @extend %pointer;
    position: relative;
    color: _c-card-conf(base-color);

    // .c-card__icon
    @include element('icon') {
      @include absolute(top 10px right 10px);
      opacity: 1;
      font-size: _c-card-conf(icon-loop-size);

      @include modifier('back') {
        top: initial;
        bottom: 10px;
      }
    }

    // .c-card__face
    @include element('face') {
      @include size(100%);
      position: absolute;
      border-radius: 4px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      // .c-card__face--front
        @include modifier('front') {
          color: _c-card-conf(color, $_conf-front-face);
          background: _c-card-conf(background, $_conf-front-face);
        }

      // .c-card__face--back
        @include modifier('back') {
          @include prefix((transform: rotateX(180deg)), webkit);
          color: _c-card-conf(color, $_conf-front-face);
          background-color: _c-card-conf(background-color, $_conf-back-face);
        }
    }

    // .c-card__bgImage
    @include element('bgImage') {
      position: absolute;
      width: 100%;
    }

    // .c-card__details
    @include element('details') {
      height: inherit;
      padding: 15px 15px;
      background: transparent;
      box-sizing: border-box;
    }

    // .c-card__heading
    @include element('heading') {
      font-family: _c-card-conf(font-family, $_conf-heading);
      font-size: _c-card-conf(font-size, $_conf-heading);
      font-weight: _c-card-conf(font-weight, $_conf-heading);
      margin-top: 17px;
    }

    // .c-card__subHeading
    @include element('subHeading') {
      font-size: _c-card-conf(font-size, $_conf-subHeading);
      font-weight: _c-card-conf(font-weight, $_conf-subHeading);
      margin: 5px 0 25px 2px;
    }

    // .c-card__description
    @include element('description') {
      @include rhythm(14px, 2.2);
    }

    // .c-card__contact
    @include element('contact') {
      margin-top: 25px;
    }

    // .c-card__link
    @include element('link') {
      text-decoration: none;

        // .c-card__link--rose
        @include modifier('rose') {
          color: palette(rose) !important;

          &:hover {
            color: palette(goldenrod, dark) !important;
          }
        }
    }

    // .c-card__sign
    @include element('sign') {
      @include absolute();
      @include border-radius(4px);
      padding: 10px;
      margin: 0;
      background-color: palette(amaranth);
    }

    // .c-card__social
    @include element('social') {
      margin-top: 25px;
      line-height: 5em;
      overflow: auto;

        .l-social-list {
          float: right;
          text-align: right;

          // .l-social-list__item
          @include element('item') {
            position: relative;
            display: inline;
            padding-right: 10px;

            // .l-social-list__item--block
            @include modifier('block') {
              display: block;
              padding-bottom: 20px;

              &:hover .shadow {
                @include absolute(right 5px top 3.2em);
                @include prefix-anim((fadeIN .7s linear both));
                display: block;
                width: 100%;
                height: 70%;
                background: -webkit-radial-gradient(50% 50%, circle, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
                background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
                -webkit-transform: rotateX(73deg) translateZ(30px);
                        transform: rotateX(73deg) translateZ(30px);
              }
            }
          }
        }

        .social__encyclopedia {
          float: left;
        }

        .encyclopedia__img,
        .encyclopedia__caption,
        .social__link {
          display: inline-block;
        }

        .encyclopedia__caption {
          padding-top: 3px;
          padding-left: 10px;
          vertical-align: top;
          line-height: 20px;
        }

        .social__img {
          z-index: 1;
        }
    }

  }
}

@media screen and (min-width: 768px) {
  .c-businessCard {
    width: 57%;
    margin-top: 50px;
    line-height: _c-card-conf(line-height);

    .c-card__subHeading {
      margin-top: 25px;
    }
    .c-card__details {
      padding: 15px 30px;
    }
    .l-social-list__item {
      padding-right: 20px;
    }

  }
}

@media screen and (min-width: 1024px) {
  .c-businessCard {
    width: 51%;
  }
}