
%c-bullets-hover {
  border: 2px solid rgba(255, 255, 255, 0);
  background-color: palette(amaranth);
}

.c-carousel {
  position: relative;
  text-align: center;

    &:hover .c-carousel__control {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transition-property: opacity, background;
        transition-property: opacity, background;
        -webkit-transition-timing-function: ease, ease-out;
                transition-timing-function: ease, ease-out;
        -webkit-transition-duration: 0s, 1.5s;
                transition-duration: 0s, 1.5s;
        -webkit-transition-delay: 0s, 0s;
                transition-delay: 0s, 0s;
    }


  // .c-carousel__input
  @include element('input') {

    // c-carousel__input--trigger
    @include modifier('trigger') {
      @extend %none;

      &:nth-of-type(2):checked ~ .c-carousel__control--prev label:nth-child(1),
      &:nth-of-type(3):checked ~ .c-carousel__control--prev label:nth-child(2),
      &:nth-of-type(4):checked ~ .c-carousel__control--prev label:nth-child(3),
      &:nth-of-type(1):checked ~ .c-carousel__control--next label:nth-child(1),
      &:nth-of-type(2):checked ~ .c-carousel__control--next label:nth-child(2),
      &:nth-of-type(3):checked ~ .c-carousel__control--next label:nth-child(3)  {
        @include flex();
      }

      &:nth-of-type(1):checked ~ ul li:nth-child(1),
      &:nth-of-type(2):checked ~ ul li:nth-child(2),
      &:nth-of-type(3):checked ~ ul li:nth-child(3),
      &:nth-of-type(4):checked ~ ul li:nth-child(4)  {
        display: block;
        opacity: 1;
      }

      &:nth-of-type(1):checked ~ .c-carousel__bullets label:nth-child(1),
      &:nth-of-type(2):checked ~ .c-carousel__bullets label:nth-child(2),
      &:nth-of-type(3):checked ~ .c-carousel__bullets label:nth-child(3),
      &:nth-of-type(4):checked ~ .c-carousel__bullets label:nth-child(4) {
        @extend %c-bullets-hover;
      }
    }
  }

  // .c-carousel__list
  @include element('list') {
    position: relative;
    max-height: 700px;

      @include media('screen', '>=desktop') {
        max-height: 490px;
      }
  }

  // .c-carousel__item
  @include element('item') {
    @extend %none;
    max-height: inherit;
    opacity: 0;

      img {
        max-width: 93%;
        min-height: inherit;
        max-height: inherit;
        height: auto;
      }
  }

  // .c-carousel__control
  @include element('control') {
     position: absolute;
     top: calc(50% - 1.5em);
     opacity: 1;
     font-size: 1.5em;
     color: palette(black);

     @include media(screen, '>=tablet') {
        opacity: 0;

        i {
            background-color: rgba(0, 0, 0, 0.07);
            padding: 10px;
        }
     }

     &:hover {
       opacity: 1;
       color: palette(amaranth);
     };

     @include modifier('prev') {
        left: -0.8em;

        label {
          margin-left: -50px;
          padding: 50px 50px;
          margin-top: -50px;
        }
     }

     @include modifier('next') {
        right: -0.8em;

        label {
          margin-right: -50px;
          padding: 50px 50px;
          margin-top: -50px;
        }
     }

      label {
        display: none;
        cursor: pointer;
      }
  }

  // .c-carousel__bullets
  @include element('bullets') {
    @include prefix((user-select: none));
    position: relative;
    padding: 1em 0;

      label {
        @include prefix((transition: all 0.5s), webkit);
        @include border-radius(50%);
        @extend %pointer;
        display: inline-block;
        margin: 0 10px;
        padding: 6px;
        border: 2px solid palette(gray, lighter);
        background: transparent;
        box-shadow: inset -1px 3px 17px -2px rgba(222, 222, 222, 0.75);

        &:hover {
          @extend %c-bullets-hover;
        };
      }
  }
}