
$conf: $base-c-form;
$_c-form-width: conf($conf, width);


.c-form {
  @extend %flex-column-centered;
  position: relative;

  // .c-form__label
  @include element('label') {
    @extend %block;

    width: conf($_c-form-width, base);
    padding: 20px;
    margin: 20px 0;
    font-size: 0.6em;
    font-weight: 700;
    color: palette(white);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: rgba(palette(white), .08);
    border-radius: 6px;
    text-align: center;

      @include media('screen', '>=tablet') {
        width: conf($_c-form-width, '>=tablet');
      }

      &.is-invalid {
        @include prefix((animation: rubberBand 1s both), webkit);
        -o-text-overflow: clip;
          text-overflow: clip;
          background-color: rgba(255, 0, 102, 0.73);
          background-position: auto auto;
          -webkit-background-origin: padding-box;
          background-origin: padding-box;
          -webkit-background-clip: border-box;
          background-clip: border-box;
          -webkit-background-size: 100% 100%;
          background-size: 100% 100%;

          & .c-form__input {
            background-color: rgb(250, 255, 189);
            color: rgb(0, 0, 0);
          }
      }
  }

  // .c-form__result
  @include element('result') {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: 1rem;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.97);
    border-radius: 20px;
    z-index: 5;

    @include media('screen', '>=tablet') {
      font-size: 1.8rem;
    }

      & p {
        padding: 15px;
      }
  }

  // .c-form__input
  @include element('input') {
    @extend %block;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: rgba(251, 251, 251, 7);
    font-size: 1.4em;
    background-color: rgba(255, 255, 255, 0.19);
    border-style: none;
    border-radius: inherit;

      &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color:    rgba(181, 181, 181, 0.55);
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
         color:    rgba(181, 181, 181, 0.55);
         opacity:  1;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
         color:    rgba(181, 181, 181, 0.55);
         opacity:  1;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
         color:    rgba(181, 181, 181, 0.55);
      }

      // .form__input--textarea
      @include modifier('textarea') {
        height: 163px;
      }
  }
}