
$c-navicon-width: conf($base-c-navicon, width);
$c-navicon-height: conf($base-c-navicon, height);
$c-navicon-margin-bottom: conf($base-c-navicon, margin-bottom);
$c-navicon-bg-color: conf($base-c-navicon, bg-color);
$c-navicon-box-shadow: conf($base-c-navicon, box-shadow);



%lines {
  width: $c-navicon-width;
  height: $c-navicon-height;
  margin-bottom: $c-navicon-margin-bottom;
  background-color: $c-navicon-bg-color;
  -webkit-box-shadow: $c-navicon-box-shadow;
  -moz-box-shadow:    $c-navicon-box-shadow;
  box-shadow:         $c-navicon-box-shadow;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
  transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
}

.c-navicon {

  @include media('screen', '<tablet') {
    display: none;
  }

  @extend %pointer;
  @include fixed(top 15px left 15px);
  @include prefix((transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91)), webkit);
  z-index: z('navicon');

  // .c-navicon__top
  @include e('top') {
    @extend %lines;
  }

  // .c-navicon__middle
  @include e('middle') {
    @extend %lines;
  }

  // .c-navicon__bottom
  @include e('bottom') {
    @extend %lines;
  }

   & div:last-child {
    margin-bottom: 0;
  }

}

.c-navicon--isActive {
  & .c-navicon__top {
    -webkit-transform: translateY(11px) rotate(-135deg);
    -ms-transform: translateY(11px) rotate(-135deg);
    transform: translateY(11px) rotate(-135deg);
  }

  & .c-navicon__middle {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  & .c-navicon__bottom {
    -webkit-transform: translateY(-11px) rotate(-45deg);
    -ms-transform: translateY(-11px) rotate(-45deg);
    transform: translateY(-11px) rotate(-45deg);
  }
}