
.c-search {
  position: relative;
  display: inline-block;
  margin-left: 35px;

  @include media('screen', '<tablet') {
    float: right;

    .c-search__input,
    .c-search__label--input {
      display: none;
    }
  }

  @include element('input') {

    @include size(10rem, 1.7rem);
    padding: 10px;
    font-size: inherit;
    color: palette(negroni);
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid black(.2);

    &:focus,
    &:valid {
      background-color: palette(azure);
    }

    &:focus + label,
    &:valid + label {
      top: -1.5rem;
      font-size: smaller;
    }

  }

  @include element('label') {

    @include modifier('input') {
      @include absolute(top 0 left 10px);
      @include prefix((transition: all .2s ease), 'webkit');
    }

    @include modifier('icon') {
      &:hover {
        color: palette(gorse);
        cursor: pointer;
      }
    }
  }

  #searchStatus {
    @extend %visuallyhidden;
  }

  #searchStatus:checked {

    + .c-modal {
      display: initial;
    }

    + .c-modal .c-modal__body--zoomInDown {
      @include prefix((animation: zoomInDown 1s both), webkit);
    }
  }
}