
.l-submenu {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.25s ease-in-out;

    @include element('item') {
      display: block;
      height: 2em;
      font-variant: normal;

        @include modifier('capitalized') {
          text-transform: capitalize;
        }
    }
}

// Trigger

.input__trigger--submenu:checked + .l-submenu {
  padding: 0 20px 10px 20px;
  opacity: 1;
  max-height: 400px;
}