
$min-height: conf($base-c-section, min-height);
$max-width: conf($base-c-section, max-width);
$font-size-title: conf($base-c-section, title, font-size);

.c-section {
  position: relative;
  overflow-x: hidden;

    // .c-section__header
    @include element('header') {
      @include absolute(right 0);
      z-index: z('sectionHeading');
    }

    // .c-section__title
    @include element('title') {
      @include size(1.5em);
      display: inline-block;
      font-size: $font-size-title;
      line-height: $font-size-title / 2;
      text-align: center;
      color: palette(white);
      background-color: palette(amaranth);
      z-index: inherit;

        &:after {
          @include absolute(left 0 top 65%);
          content: attr(data-section);
          width: 100%;
          font-size: 0.25em;
          text-align: inherit;
          text-transform: uppercase;
        };

    }

    // .c-section__body
    @include element('body') {
      padding: 30px 15px;

      @include media('screen', '>=tablet') {
        padding: 90px 20px;
      }
    }

    .l-container {
      @extend %center;
      position: relative;
      min-height: $min-height;
      max-width: $max-width;
    }
}


