/* TAB LAYOUT */

%checked__label {
  color: palette(white);
  background-color: palette(amaranth);
}

%set_tab__content {
  @include prefix((transform: translate(0, 0)), webkit);
  padding: 20px;
  opacity: 1;
  max-height: 1050px;
}

.tab-navigation {
  margin-top: 150px;

    .tab__radio {
      @extend %none;
    }

    //
    // The number of tab__item
    //
    $elements: 12;
    $g: 1;

    @for $i from $g to $elements {

      // The eleven tab represents the HACKATHONS sticker
      // for this reason, it must be not clickable
      $g: if($i != 11, $i, $i + 1);

      .tab__radio:nth-of-type(#{$i}):checked ~ ul .tab__item:nth-of-type(#{$g}) .list__label {
        @extend %checked__label;
      }
      .tab__radio:nth-of-type(#{$i}):checked ~ .tab__list li:nth-of-type(#{$g}) .tab__content {
        @extend %set_tab__content;
      }
    }


    .tab__list {
      position: relative;
      padding: 0;
      list-style: none;

        .tab__item:nth-of-type(1) {
          .list__label {
            @include border-top-radius(10px);
          }
        }
      }

    .list__label {
      @include prefix((transition: background-color .7s), webkit);
      @extend %pointer;
      display: block;
      padding: 10px;
      text-align: center;
      text-transform: uppercase;
      background-color: palette(french-lilac);
      border-bottom: 1px solid rgba(255, 255, 255, 0.22);

        &:hover {
          background-color: white(.6);
          color: palette(amaranth);
        };

        // .tab__list--sticker
        @include modifier('sticket') {
          color: palette(white) !important;
          background-color: palette(cerise) !important;
          text-transform: uppercase!important;
          cursor: initial;
        }
        // .tab__list--sticker-item
        @include modifier('sticket-item') {
          font-size: 0.9em;
          font-variant: small-caps;
        }
    }

    .tab__content {
      @include prefix((transform: translate(0, -50%)), webkit);
      @include prefix((transition: all 0.25s ease-in-out), webkit);
      margin-top: 0;
      max-height: 0;
      color: initial;
      background-color: palette(white);
      opacity: 0;
      overflow: hidden;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
    }
}



/*


.tab__radio:nth-of-type(1):checked ~ .tab__list li:nth-of-type(1) .tab__content,
.tab__radio:nth-of-type(2):checked ~ .tab__list li:nth-of-type(2) .tab__content,
.tab__radio:nth-of-type(3):checked ~ .tab__list li:nth-of-type(3) .tab__content,
.tab__radio:nth-of-type(4):checked ~ .tab__list li:nth-of-type(4) .tab__content,
.tab__radio:nth-of-type(5):checked ~ .tab__list li:nth-of-type(5) .tab__content,
.tab__radio:nth-of-type(6):checked ~ .tab__list li:nth-of-type(6) .tab__content,
.tab__radio:nth-of-type(7):checked ~ .tab__list li:nth-of-type(7) .tab__content,
.tab__radio:nth-of-type(8):checked ~ .tab__list li:nth-of-type(8) .tab__content,
.tab__radio:nth-of-type(9):checked ~ .tab__list li:nth-of-type(9) .tab__content,
.tab__radio:nth-of-type(10):checked ~ .tab__list li:nth-of-type(10) .tab__content,
.tab__radio:nth-of-type(11):checked ~ .tab__list li:nth-of-type(12) .tab__content {
  padding: 20px;
  opacity: 1;
  transform: translate(0, 0);
  max-height: 1050px;
}

.tab__radio {
  display: none;
}


.tab__list .tab__item--sticker ~ .tab__item label.list__label {
  font-size: 0.9em;
  font-variant: small-caps;
}
.tab__list .list__label--sticket {
  color: #fff!important;
  background-color: #d72983!important;
  text-transform: uppercase!important;
  cursor: initial;
}

.tab__list .list__label:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: #e91e63;
}

.tab__radio:nth-of-type(1):checked ~ ul .tab__item:nth-of-type(1) .list__label,
.tab__radio:nth-of-type(2):checked ~ ul .tab__item:nth-of-type(2) .list__label,
.tab__radio:nth-of-type(3):checked ~ ul .tab__item:nth-of-type(3) .list__label,
.tab__radio:nth-of-type(4):checked ~ ul .tab__item:nth-of-type(4) .list__label,
.tab__radio:nth-of-type(5):checked ~ ul .tab__item:nth-of-type(5) .list__label,
.tab__radio:nth-of-type(6):checked ~ ul .tab__item:nth-of-type(6) .list__label,
.tab__radio:nth-of-type(7):checked ~ ul .tab__item:nth-of-type(7) .list__label,
.tab__radio:nth-of-type(8):checked ~ ul .tab__item:nth-of-type(8) .list__label,
.tab__radio:nth-of-type(9):checked ~ ul .tab__item:nth-of-type(9) .list__label,
.tab__radio:nth-of-type(10):checked ~ ul .tab__item:nth-of-type(10) .list__label,
.tab__radio:nth-of-type(11):checked ~ ul .tab__item:nth-of-type(12) .list__label {
  color: #ffffff;
  background-color: rgb(233, 30, 99);
}
.tab__list .list__label {
  display: block;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  background-color: #d8b8ee;
  border-bottom: 1px solid rgba(255, 255, 255, 0.22);
  -webkit-transition: background-color .7s;
  transition: background-color .7s;
  cursor: pointer;
}
*/
