/* TAB LAYOUT */

$tab__content--min-height: conf(conf(conf($conf-c-tab, min-height), content), media , '>=tablet');
$tab__content--width: conf(conf(conf($conf-c-tab, width), content), media , '>=tablet');
$tab__label--width: conf(conf(conf($conf-c-tab, width), label), media , '>=tablet');

%c-tab__label--default {
  color: palette(white);
  background-color: palette(amaranth);
}

%c-tab__content--default {
  @include prefix((transform: translate(0, 0)), webkit);
  padding: 20px;
  opacity: 1;
  max-height: 1050px;
}


@mixin c-tab__checked($version: default) {

  $tabItems: 12;
  $g: 1;

  @for $i from $g to $tabItems {

    // The eleven tab represents the HACKATHONS sticker
    // for this reason, it must be not clickable
    $g: if($i != 11, $i, $i + 1);

    &:nth-of-type(#{$i}):checked ~ .c-tab__list .c-tab__item:nth-of-type(#{$g}) .c-tab__label {
      @if $version == default {
          @extend %c-tab__label--default;
      } @else {
          @include _('c-tab__label--greater-than-tablet');
      }
    }
    &:nth-of-type(#{$i}):checked ~ .c-tab__list .c-tab__item:nth-of-type(#{$g}) .c-tab__content {
      @if $version == default {
          @extend %c-tab__content--default;
      } @else {
          @include _('c-tab__content--greater-than-tablet');
      }
    }
  }
}
// .tab__radio:nth-of-type(1):checked ~ .tab__list li:nth-of-type(1) .tab__content
.c-tab {
  margin-top: 150px;

    // .c-tab__radio
    @include element('radio') {
      @extend %none;
      @include c-tab__checked(default);
    }

    // .c-tab__list
    @include element('list') {
      position: relative;
      padding: 0;
      list-style: none;
    }

    // .c-tab__item
    @include element('item') {
      &:nth-of-type(1) {
        @include border-top-radius(10px);
      }
    }

    // .c-tab__content
    @include element('content') {
      @include prefix((transform: translate(0, -50%)), webkit);
      @include prefix((transition: all 0.25s ease-in-out), webkit);
      margin-top: 0;
      max-height: 0;
      color: initial;
      background-color: palette(white);
      opacity: 0;
      overflow: hidden;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
    }

    // .c-tab__label
    @include element('label') {
      @include prefix((transition: background-color .7s), webkit);
      @extend %pointer;
      display: block;
      padding: 10px;
      text-align: center;
      text-transform: uppercase;
      background-color: palette(french-lilac);
      border-bottom: 1px solid rgba(255, 255, 255, 0.22);

        &:hover {
          background-color: white(.6);
          color: palette(amaranth);
        };

        // .c-tab__label--sticker
        @include modifier('sticket') {
          color: palette(white) !important;
          background-color: palette(cerise) !important;
          text-transform: uppercase!important;
          cursor: initial;
        }
        // .c-tab__label--sticker-item
        @include modifier('sticket-item') {
          font-size: 0.9em;
          font-variant: small-caps;
        }
    }

}

  .c-tab {

    @include media-extensible('screen', '>=tablet') {
      .c-tab__list,
      .c-tab__content {
        height: $tab__content--min-height;
        min-height: $tab__content--min-height;
        height: auto;
      }

      // .c-tab__radio
      @include element('radio') {
        @include c-tab__checked(greater-than-tablet);
      }

      // .c-tab__content
      @include element('content') {
        @include absolute(top 0 right 0);
        display: none;
        width: $tab__content--width;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      // .c-tab__item
      @include element('item') {
        &:nth-of-type(1) {
          border-top-right-radius: initial;
        }
      }

      // .c-tab__label
      @include element('label') {
        @include border-left-radius(5px);
        width: $tab__label--width;
        background-color: initial;
        text-transform: capitalize;
        text-align: left;
        border-bottom: initial;
        border-left: 6px solid transparent;


          // .c-tab__label--sticker
          @include modifier('sticket') {
            margin-left: 20px;
            padding-left: 10px;

              .img { vertical-align: text-top; }

              + li {
                padding-left: 50px;
              }
          }
          // .c-tab__label--sticker-item
          @include modifier('sticket-item') {
            background-color: palette(white, light);
            padding-right: 50px;
            text-align: right;

            &:hover {
              background-color: palette(white, darker);
            }
          }
      }
    }
  }

/// HACKS Used to enable placeholders inside @media queries
/// You may not @extend an outer selector from within @media.
/// You may only @extend selectors within the same directive.

@include _placeholder('c-tab__label--greater-than-tablet') {
  color: palette(amaranth);
  background-color: palette(white);
  border-left-color: palette(supernova);
}

@include _placeholder('c-tab__content--greater-than-tablet') {
  display: block;
}

