
.c-tooltip {
  @include absolute(bottom 105% left 50%);
  @include border-radius(6px);
  width: conf($base-c-tooltip, width);
  padding: 5px;
  margin-left: -90px;
  background-color: conf($base-c-tooltip, background-color);
  color: conf($base-c-tooltip, color);
  text-align: center;
  z-index: z(default);
  visibility: hidden;

    strong {
      font-weight: 500;
    }

    &:after {
      @include absolute(top 100% left 50%);
      content: "";
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: conf($base-c-tooltip, background-color) transparent transparent transparent;
    }

    @include modifier('black') {
      background-color: black();
      color: white();

        &:after {
          border-color: black transparent transparent transparent;
        }
    }
}