@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';

// @import 'vendors/..'

@import 'base/reset';
@import 'base/colors';
@import 'base/scaffold';
@import 'base/typography';
@import 'base/animations';
@import 'base/configurations';

@import 'layout/header';
@import 'layout/section';
@import 'layout/splash';
@import 'layout/section-About';
@import 'layout/section-Projects';
@import 'layout/section-Skills';
@import 'layout/section-Contact';
@import 'layout/footer';

@import 'components/animated_icons';
@import 'components/browserUpgrade';
@import 'components/logo';
@import 'components/hamburger';
@import 'components/navigation';
@import 'components/search';
@import 'components/modal';
@import 'components/sideMenu';
@import 'components/subMenu';
@import 'components/button';
@import 'components/tab-navigation';
@import 'components/carousel';
@import 'components/tooltip';
@import 'components/graph';
@import 'components/businessCard';
@import 'components/form';
@import 'components/italy-flag';
@import 'components/navicon';

// @import 'pages/..';

// @import 'themes/..';


