/**
 * Generate vendors prefix for a particular property
 *
 * @param {String} $property - property's name
 * @param {String} $value - property's value
 */
/**
 * Set the opacity for all browsers and provide a filter fallback for IE8
 *
 * @param {Number} $opacity - A value between 0 an 1
 */
/**
 * Generate an animation
 * based on the number of frames
 *
 * @param {String} $animation-name - animation name
 */
/**
 * Generate an animation
 *
 * @param {List} $animate - A list of possibly animations (but not mandatory)
 */
/**
 * Generate padding
 *
 * @param {Number} $top - The top padding value or null
 * @param {Number} $right - The right padding value or null
 * @param {Number} $bottom - The bottom padding value or null
 * @param {Number} $left - The left padding value or null
 */
/**
 * Generate margin
 *
 * @param {Number} $top - The top margin value or null
 * @param {Number} $right - The right margin value or null
 * @param {Number} $bottom - The bottom margin value or null
 * @param {Number} $left - The left margin value or null
 */
*, *:after, *:before {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  height: 100%; }

a img {
  border: none; }

blockquote {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

@-webkit-keyframes fadeIN {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIN {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeIN {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeIN {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIN {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes double-flash {
  0% {
    opacity: 1; }
  16.66667% {
    opacity: 0; }
  33.33333% {
    opacity: 1; }
  50% {
    opacity: 0; }
  66.66667% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-moz-keyframes double-flash {
  0% {
    opacity: 1; }
  16.66667% {
    opacity: 0; }
  33.33333% {
    opacity: 1; }
  50% {
    opacity: 0; }
  66.66667% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-ms-keyframes double-flash {
  0% {
    opacity: 1; }
  16.66667% {
    opacity: 0; }
  33.33333% {
    opacity: 1; }
  50% {
    opacity: 0; }
  66.66667% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-o-keyframes double-flash {
  0% {
    opacity: 1; }
  16.66667% {
    opacity: 0; }
  33.33333% {
    opacity: 1; }
  50% {
    opacity: 0; }
  66.66667% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes double-flash {
  0% {
    opacity: 1; }
  16.66667% {
    opacity: 0; }
  33.33333% {
    opacity: 1; }
  50% {
    opacity: 0; }
  66.66667% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-webkit-keyframes shaker {
  2% {
    -webkit-transform: translate(0.5px, -1.5px) rotate(-0.5deg);
    -ms-transform: translate(0.5px, -1.5px) rotate(-0.5deg);
    transform: translate(0.5px, -1.5px) rotate(-0.5deg); }
  4% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, 1.5px) rotate(1.5deg);
    transform: translate(0.5px, 1.5px) rotate(1.5deg); }
  6% {
    -webkit-transform: translate(1.5px, 1.5px) rotate(1.5deg);
    -ms-transform: translate(1.5px, 1.5px) rotate(1.5deg);
    transform: translate(1.5px, 1.5px) rotate(1.5deg); }
  8% {
    -webkit-transform: translate(2.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, 1.5px) rotate(0.5deg);
    transform: translate(2.5px, 1.5px) rotate(0.5deg); }
  10% {
    -webkit-transform: translate(0.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(0.5px, 2.5px) rotate(0.5deg);
    transform: translate(0.5px, 2.5px) rotate(0.5deg); }
  12% {
    -webkit-transform: translate(1.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(1.5px, 1.5px) rotate(0.5deg);
    transform: translate(1.5px, 1.5px) rotate(0.5deg); }
  14% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(0.5deg);
    -ms-transform: translate(0.5px, 0.5px) rotate(0.5deg);
    transform: translate(0.5px, 0.5px) rotate(0.5deg); }
  16% {
    -webkit-transform: translate(-1.5px, -0.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, -0.5px) rotate(1.5deg);
    transform: translate(-1.5px, -0.5px) rotate(1.5deg); }
  18% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, 0.5px) rotate(1.5deg);
    transform: translate(0.5px, 0.5px) rotate(1.5deg); }
  20% {
    -webkit-transform: translate(2.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(2.5px, 2.5px) rotate(1.5deg);
    transform: translate(2.5px, 2.5px) rotate(1.5deg); }
  22% {
    -webkit-transform: translate(0.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, -1.5px) rotate(1.5deg);
    transform: translate(0.5px, -1.5px) rotate(1.5deg); }
  24% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg); }
  26% {
    -webkit-transform: translate(1.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(1.5px, 0.5px) rotate(1.5deg);
    transform: translate(1.5px, 0.5px) rotate(1.5deg); }
  28% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
  30% {
    -webkit-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    transform: translate(1.5px, -0.5px) rotate(-0.5deg); }
  32% {
    -webkit-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    transform: translate(2.5px, -1.5px) rotate(1.5deg); }
  34% {
    -webkit-transform: translate(2.5px, 2.5px) rotate(-0.5deg);
    -ms-transform: translate(2.5px, 2.5px) rotate(-0.5deg);
    transform: translate(2.5px, 2.5px) rotate(-0.5deg); }
  36% {
    -webkit-transform: translate(0.5px, -1.5px) rotate(0.5deg);
    -ms-transform: translate(0.5px, -1.5px) rotate(0.5deg);
    transform: translate(0.5px, -1.5px) rotate(0.5deg); }
  38% {
    -webkit-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    transform: translate(2.5px, -0.5px) rotate(-0.5deg); }
  40% {
    -webkit-transform: translate(-0.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(-0.5px, 2.5px) rotate(0.5deg);
    transform: translate(-0.5px, 2.5px) rotate(0.5deg); }
  42% {
    -webkit-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    transform: translate(-1.5px, 2.5px) rotate(0.5deg); }
  44% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  46% {
    -webkit-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    transform: translate(1.5px, -0.5px) rotate(-0.5deg); }
  48% {
    -webkit-transform: translate(2.5px, -0.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, -0.5px) rotate(0.5deg);
    transform: translate(2.5px, -0.5px) rotate(0.5deg); }
  50% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  52% {
    -webkit-transform: translate(-0.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(-0.5px, 1.5px) rotate(0.5deg);
    transform: translate(-0.5px, 1.5px) rotate(0.5deg); }
  54% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  56% {
    -webkit-transform: translate(0.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, 2.5px) rotate(1.5deg);
    transform: translate(0.5px, 2.5px) rotate(1.5deg); }
  58% {
    -webkit-transform: translate(2.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, 2.5px) rotate(0.5deg);
    transform: translate(2.5px, 2.5px) rotate(0.5deg); }
  60% {
    -webkit-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    transform: translate(2.5px, -1.5px) rotate(1.5deg); }
  62% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
  64% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(1.5deg);
    transform: translate(-1.5px, 1.5px) rotate(1.5deg); }
  66% {
    -webkit-transform: translate(0.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, 2.5px) rotate(1.5deg);
    transform: translate(0.5px, 2.5px) rotate(1.5deg); }
  68% {
    -webkit-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    transform: translate(2.5px, -1.5px) rotate(1.5deg); }
  70% {
    -webkit-transform: translate(2.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, 2.5px) rotate(0.5deg);
    transform: translate(2.5px, 2.5px) rotate(0.5deg); }
  72% {
    -webkit-transform: translate(-0.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(-0.5px, -1.5px) rotate(1.5deg);
    transform: translate(-0.5px, -1.5px) rotate(1.5deg); }
  74% {
    -webkit-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    transform: translate(-1.5px, 2.5px) rotate(1.5deg); }
  76% {
    -webkit-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    transform: translate(-1.5px, 2.5px) rotate(1.5deg); }
  78% {
    -webkit-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    transform: translate(-1.5px, 2.5px) rotate(0.5deg); }
  80% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg); }
  82% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg); }
  84% {
    -webkit-transform: translate(-0.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(-0.5px, 0.5px) rotate(1.5deg);
    transform: translate(-0.5px, 0.5px) rotate(1.5deg); }
  86% {
    -webkit-transform: translate(2.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, 1.5px) rotate(0.5deg);
    transform: translate(2.5px, 1.5px) rotate(0.5deg); }
  88% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
  90% {
    -webkit-transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg); }
  92% {
    -webkit-transform: translate(-1.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, -1.5px) rotate(1.5deg);
    transform: translate(-1.5px, -1.5px) rotate(1.5deg); }
  94% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(-0.5deg);
    -ms-transform: translate(0.5px, 0.5px) rotate(-0.5deg);
    transform: translate(0.5px, 0.5px) rotate(-0.5deg); }
  96% {
    -webkit-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    transform: translate(2.5px, -0.5px) rotate(-0.5deg); }
  98% {
    -webkit-transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
    transform: translate(-1.5px, -1.5px) rotate(-0.5deg); }
  0%, 100% {
    -webkit-transform: translate(0, 0) rotate(0);
    -ms-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }
@-moz-keyframes shaker {
  2% {
    -webkit-transform: translate(0.5px, -1.5px) rotate(-0.5deg);
    -ms-transform: translate(0.5px, -1.5px) rotate(-0.5deg);
    transform: translate(0.5px, -1.5px) rotate(-0.5deg); }
  4% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, 1.5px) rotate(1.5deg);
    transform: translate(0.5px, 1.5px) rotate(1.5deg); }
  6% {
    -webkit-transform: translate(1.5px, 1.5px) rotate(1.5deg);
    -ms-transform: translate(1.5px, 1.5px) rotate(1.5deg);
    transform: translate(1.5px, 1.5px) rotate(1.5deg); }
  8% {
    -webkit-transform: translate(2.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, 1.5px) rotate(0.5deg);
    transform: translate(2.5px, 1.5px) rotate(0.5deg); }
  10% {
    -webkit-transform: translate(0.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(0.5px, 2.5px) rotate(0.5deg);
    transform: translate(0.5px, 2.5px) rotate(0.5deg); }
  12% {
    -webkit-transform: translate(1.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(1.5px, 1.5px) rotate(0.5deg);
    transform: translate(1.5px, 1.5px) rotate(0.5deg); }
  14% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(0.5deg);
    -ms-transform: translate(0.5px, 0.5px) rotate(0.5deg);
    transform: translate(0.5px, 0.5px) rotate(0.5deg); }
  16% {
    -webkit-transform: translate(-1.5px, -0.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, -0.5px) rotate(1.5deg);
    transform: translate(-1.5px, -0.5px) rotate(1.5deg); }
  18% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, 0.5px) rotate(1.5deg);
    transform: translate(0.5px, 0.5px) rotate(1.5deg); }
  20% {
    -webkit-transform: translate(2.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(2.5px, 2.5px) rotate(1.5deg);
    transform: translate(2.5px, 2.5px) rotate(1.5deg); }
  22% {
    -webkit-transform: translate(0.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, -1.5px) rotate(1.5deg);
    transform: translate(0.5px, -1.5px) rotate(1.5deg); }
  24% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg); }
  26% {
    -webkit-transform: translate(1.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(1.5px, 0.5px) rotate(1.5deg);
    transform: translate(1.5px, 0.5px) rotate(1.5deg); }
  28% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
  30% {
    -webkit-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    transform: translate(1.5px, -0.5px) rotate(-0.5deg); }
  32% {
    -webkit-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    transform: translate(2.5px, -1.5px) rotate(1.5deg); }
  34% {
    -webkit-transform: translate(2.5px, 2.5px) rotate(-0.5deg);
    -ms-transform: translate(2.5px, 2.5px) rotate(-0.5deg);
    transform: translate(2.5px, 2.5px) rotate(-0.5deg); }
  36% {
    -webkit-transform: translate(0.5px, -1.5px) rotate(0.5deg);
    -ms-transform: translate(0.5px, -1.5px) rotate(0.5deg);
    transform: translate(0.5px, -1.5px) rotate(0.5deg); }
  38% {
    -webkit-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    transform: translate(2.5px, -0.5px) rotate(-0.5deg); }
  40% {
    -webkit-transform: translate(-0.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(-0.5px, 2.5px) rotate(0.5deg);
    transform: translate(-0.5px, 2.5px) rotate(0.5deg); }
  42% {
    -webkit-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    transform: translate(-1.5px, 2.5px) rotate(0.5deg); }
  44% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  46% {
    -webkit-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    transform: translate(1.5px, -0.5px) rotate(-0.5deg); }
  48% {
    -webkit-transform: translate(2.5px, -0.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, -0.5px) rotate(0.5deg);
    transform: translate(2.5px, -0.5px) rotate(0.5deg); }
  50% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  52% {
    -webkit-transform: translate(-0.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(-0.5px, 1.5px) rotate(0.5deg);
    transform: translate(-0.5px, 1.5px) rotate(0.5deg); }
  54% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  56% {
    -webkit-transform: translate(0.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, 2.5px) rotate(1.5deg);
    transform: translate(0.5px, 2.5px) rotate(1.5deg); }
  58% {
    -webkit-transform: translate(2.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, 2.5px) rotate(0.5deg);
    transform: translate(2.5px, 2.5px) rotate(0.5deg); }
  60% {
    -webkit-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    transform: translate(2.5px, -1.5px) rotate(1.5deg); }
  62% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
  64% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(1.5deg);
    transform: translate(-1.5px, 1.5px) rotate(1.5deg); }
  66% {
    -webkit-transform: translate(0.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, 2.5px) rotate(1.5deg);
    transform: translate(0.5px, 2.5px) rotate(1.5deg); }
  68% {
    -webkit-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    transform: translate(2.5px, -1.5px) rotate(1.5deg); }
  70% {
    -webkit-transform: translate(2.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, 2.5px) rotate(0.5deg);
    transform: translate(2.5px, 2.5px) rotate(0.5deg); }
  72% {
    -webkit-transform: translate(-0.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(-0.5px, -1.5px) rotate(1.5deg);
    transform: translate(-0.5px, -1.5px) rotate(1.5deg); }
  74% {
    -webkit-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    transform: translate(-1.5px, 2.5px) rotate(1.5deg); }
  76% {
    -webkit-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    transform: translate(-1.5px, 2.5px) rotate(1.5deg); }
  78% {
    -webkit-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    transform: translate(-1.5px, 2.5px) rotate(0.5deg); }
  80% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg); }
  82% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg); }
  84% {
    -webkit-transform: translate(-0.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(-0.5px, 0.5px) rotate(1.5deg);
    transform: translate(-0.5px, 0.5px) rotate(1.5deg); }
  86% {
    -webkit-transform: translate(2.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, 1.5px) rotate(0.5deg);
    transform: translate(2.5px, 1.5px) rotate(0.5deg); }
  88% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
  90% {
    -webkit-transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg); }
  92% {
    -webkit-transform: translate(-1.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, -1.5px) rotate(1.5deg);
    transform: translate(-1.5px, -1.5px) rotate(1.5deg); }
  94% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(-0.5deg);
    -ms-transform: translate(0.5px, 0.5px) rotate(-0.5deg);
    transform: translate(0.5px, 0.5px) rotate(-0.5deg); }
  96% {
    -webkit-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    transform: translate(2.5px, -0.5px) rotate(-0.5deg); }
  98% {
    -webkit-transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
    transform: translate(-1.5px, -1.5px) rotate(-0.5deg); }
  0%, 100% {
    -webkit-transform: translate(0, 0) rotate(0);
    -ms-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }
@-ms-keyframes shaker {
  2% {
    -webkit-transform: translate(0.5px, -1.5px) rotate(-0.5deg);
    -ms-transform: translate(0.5px, -1.5px) rotate(-0.5deg);
    transform: translate(0.5px, -1.5px) rotate(-0.5deg); }
  4% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, 1.5px) rotate(1.5deg);
    transform: translate(0.5px, 1.5px) rotate(1.5deg); }
  6% {
    -webkit-transform: translate(1.5px, 1.5px) rotate(1.5deg);
    -ms-transform: translate(1.5px, 1.5px) rotate(1.5deg);
    transform: translate(1.5px, 1.5px) rotate(1.5deg); }
  8% {
    -webkit-transform: translate(2.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, 1.5px) rotate(0.5deg);
    transform: translate(2.5px, 1.5px) rotate(0.5deg); }
  10% {
    -webkit-transform: translate(0.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(0.5px, 2.5px) rotate(0.5deg);
    transform: translate(0.5px, 2.5px) rotate(0.5deg); }
  12% {
    -webkit-transform: translate(1.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(1.5px, 1.5px) rotate(0.5deg);
    transform: translate(1.5px, 1.5px) rotate(0.5deg); }
  14% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(0.5deg);
    -ms-transform: translate(0.5px, 0.5px) rotate(0.5deg);
    transform: translate(0.5px, 0.5px) rotate(0.5deg); }
  16% {
    -webkit-transform: translate(-1.5px, -0.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, -0.5px) rotate(1.5deg);
    transform: translate(-1.5px, -0.5px) rotate(1.5deg); }
  18% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, 0.5px) rotate(1.5deg);
    transform: translate(0.5px, 0.5px) rotate(1.5deg); }
  20% {
    -webkit-transform: translate(2.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(2.5px, 2.5px) rotate(1.5deg);
    transform: translate(2.5px, 2.5px) rotate(1.5deg); }
  22% {
    -webkit-transform: translate(0.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, -1.5px) rotate(1.5deg);
    transform: translate(0.5px, -1.5px) rotate(1.5deg); }
  24% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg); }
  26% {
    -webkit-transform: translate(1.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(1.5px, 0.5px) rotate(1.5deg);
    transform: translate(1.5px, 0.5px) rotate(1.5deg); }
  28% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
  30% {
    -webkit-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    transform: translate(1.5px, -0.5px) rotate(-0.5deg); }
  32% {
    -webkit-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    transform: translate(2.5px, -1.5px) rotate(1.5deg); }
  34% {
    -webkit-transform: translate(2.5px, 2.5px) rotate(-0.5deg);
    -ms-transform: translate(2.5px, 2.5px) rotate(-0.5deg);
    transform: translate(2.5px, 2.5px) rotate(-0.5deg); }
  36% {
    -webkit-transform: translate(0.5px, -1.5px) rotate(0.5deg);
    -ms-transform: translate(0.5px, -1.5px) rotate(0.5deg);
    transform: translate(0.5px, -1.5px) rotate(0.5deg); }
  38% {
    -webkit-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    transform: translate(2.5px, -0.5px) rotate(-0.5deg); }
  40% {
    -webkit-transform: translate(-0.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(-0.5px, 2.5px) rotate(0.5deg);
    transform: translate(-0.5px, 2.5px) rotate(0.5deg); }
  42% {
    -webkit-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    transform: translate(-1.5px, 2.5px) rotate(0.5deg); }
  44% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  46% {
    -webkit-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    transform: translate(1.5px, -0.5px) rotate(-0.5deg); }
  48% {
    -webkit-transform: translate(2.5px, -0.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, -0.5px) rotate(0.5deg);
    transform: translate(2.5px, -0.5px) rotate(0.5deg); }
  50% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  52% {
    -webkit-transform: translate(-0.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(-0.5px, 1.5px) rotate(0.5deg);
    transform: translate(-0.5px, 1.5px) rotate(0.5deg); }
  54% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  56% {
    -webkit-transform: translate(0.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, 2.5px) rotate(1.5deg);
    transform: translate(0.5px, 2.5px) rotate(1.5deg); }
  58% {
    -webkit-transform: translate(2.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, 2.5px) rotate(0.5deg);
    transform: translate(2.5px, 2.5px) rotate(0.5deg); }
  60% {
    -webkit-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    transform: translate(2.5px, -1.5px) rotate(1.5deg); }
  62% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
  64% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(1.5deg);
    transform: translate(-1.5px, 1.5px) rotate(1.5deg); }
  66% {
    -webkit-transform: translate(0.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, 2.5px) rotate(1.5deg);
    transform: translate(0.5px, 2.5px) rotate(1.5deg); }
  68% {
    -webkit-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    transform: translate(2.5px, -1.5px) rotate(1.5deg); }
  70% {
    -webkit-transform: translate(2.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, 2.5px) rotate(0.5deg);
    transform: translate(2.5px, 2.5px) rotate(0.5deg); }
  72% {
    -webkit-transform: translate(-0.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(-0.5px, -1.5px) rotate(1.5deg);
    transform: translate(-0.5px, -1.5px) rotate(1.5deg); }
  74% {
    -webkit-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    transform: translate(-1.5px, 2.5px) rotate(1.5deg); }
  76% {
    -webkit-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    transform: translate(-1.5px, 2.5px) rotate(1.5deg); }
  78% {
    -webkit-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    transform: translate(-1.5px, 2.5px) rotate(0.5deg); }
  80% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg); }
  82% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg); }
  84% {
    -webkit-transform: translate(-0.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(-0.5px, 0.5px) rotate(1.5deg);
    transform: translate(-0.5px, 0.5px) rotate(1.5deg); }
  86% {
    -webkit-transform: translate(2.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, 1.5px) rotate(0.5deg);
    transform: translate(2.5px, 1.5px) rotate(0.5deg); }
  88% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
  90% {
    -webkit-transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg); }
  92% {
    -webkit-transform: translate(-1.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, -1.5px) rotate(1.5deg);
    transform: translate(-1.5px, -1.5px) rotate(1.5deg); }
  94% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(-0.5deg);
    -ms-transform: translate(0.5px, 0.5px) rotate(-0.5deg);
    transform: translate(0.5px, 0.5px) rotate(-0.5deg); }
  96% {
    -webkit-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    transform: translate(2.5px, -0.5px) rotate(-0.5deg); }
  98% {
    -webkit-transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
    transform: translate(-1.5px, -1.5px) rotate(-0.5deg); }
  0%, 100% {
    -webkit-transform: translate(0, 0) rotate(0);
    -ms-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }
@-o-keyframes shaker {
  2% {
    -webkit-transform: translate(0.5px, -1.5px) rotate(-0.5deg);
    -ms-transform: translate(0.5px, -1.5px) rotate(-0.5deg);
    transform: translate(0.5px, -1.5px) rotate(-0.5deg); }
  4% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, 1.5px) rotate(1.5deg);
    transform: translate(0.5px, 1.5px) rotate(1.5deg); }
  6% {
    -webkit-transform: translate(1.5px, 1.5px) rotate(1.5deg);
    -ms-transform: translate(1.5px, 1.5px) rotate(1.5deg);
    transform: translate(1.5px, 1.5px) rotate(1.5deg); }
  8% {
    -webkit-transform: translate(2.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, 1.5px) rotate(0.5deg);
    transform: translate(2.5px, 1.5px) rotate(0.5deg); }
  10% {
    -webkit-transform: translate(0.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(0.5px, 2.5px) rotate(0.5deg);
    transform: translate(0.5px, 2.5px) rotate(0.5deg); }
  12% {
    -webkit-transform: translate(1.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(1.5px, 1.5px) rotate(0.5deg);
    transform: translate(1.5px, 1.5px) rotate(0.5deg); }
  14% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(0.5deg);
    -ms-transform: translate(0.5px, 0.5px) rotate(0.5deg);
    transform: translate(0.5px, 0.5px) rotate(0.5deg); }
  16% {
    -webkit-transform: translate(-1.5px, -0.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, -0.5px) rotate(1.5deg);
    transform: translate(-1.5px, -0.5px) rotate(1.5deg); }
  18% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, 0.5px) rotate(1.5deg);
    transform: translate(0.5px, 0.5px) rotate(1.5deg); }
  20% {
    -webkit-transform: translate(2.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(2.5px, 2.5px) rotate(1.5deg);
    transform: translate(2.5px, 2.5px) rotate(1.5deg); }
  22% {
    -webkit-transform: translate(0.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, -1.5px) rotate(1.5deg);
    transform: translate(0.5px, -1.5px) rotate(1.5deg); }
  24% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg); }
  26% {
    -webkit-transform: translate(1.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(1.5px, 0.5px) rotate(1.5deg);
    transform: translate(1.5px, 0.5px) rotate(1.5deg); }
  28% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
  30% {
    -webkit-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    transform: translate(1.5px, -0.5px) rotate(-0.5deg); }
  32% {
    -webkit-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    transform: translate(2.5px, -1.5px) rotate(1.5deg); }
  34% {
    -webkit-transform: translate(2.5px, 2.5px) rotate(-0.5deg);
    -ms-transform: translate(2.5px, 2.5px) rotate(-0.5deg);
    transform: translate(2.5px, 2.5px) rotate(-0.5deg); }
  36% {
    -webkit-transform: translate(0.5px, -1.5px) rotate(0.5deg);
    -ms-transform: translate(0.5px, -1.5px) rotate(0.5deg);
    transform: translate(0.5px, -1.5px) rotate(0.5deg); }
  38% {
    -webkit-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    transform: translate(2.5px, -0.5px) rotate(-0.5deg); }
  40% {
    -webkit-transform: translate(-0.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(-0.5px, 2.5px) rotate(0.5deg);
    transform: translate(-0.5px, 2.5px) rotate(0.5deg); }
  42% {
    -webkit-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    transform: translate(-1.5px, 2.5px) rotate(0.5deg); }
  44% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  46% {
    -webkit-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    transform: translate(1.5px, -0.5px) rotate(-0.5deg); }
  48% {
    -webkit-transform: translate(2.5px, -0.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, -0.5px) rotate(0.5deg);
    transform: translate(2.5px, -0.5px) rotate(0.5deg); }
  50% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  52% {
    -webkit-transform: translate(-0.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(-0.5px, 1.5px) rotate(0.5deg);
    transform: translate(-0.5px, 1.5px) rotate(0.5deg); }
  54% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  56% {
    -webkit-transform: translate(0.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, 2.5px) rotate(1.5deg);
    transform: translate(0.5px, 2.5px) rotate(1.5deg); }
  58% {
    -webkit-transform: translate(2.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, 2.5px) rotate(0.5deg);
    transform: translate(2.5px, 2.5px) rotate(0.5deg); }
  60% {
    -webkit-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    transform: translate(2.5px, -1.5px) rotate(1.5deg); }
  62% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
  64% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(1.5deg);
    transform: translate(-1.5px, 1.5px) rotate(1.5deg); }
  66% {
    -webkit-transform: translate(0.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, 2.5px) rotate(1.5deg);
    transform: translate(0.5px, 2.5px) rotate(1.5deg); }
  68% {
    -webkit-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    transform: translate(2.5px, -1.5px) rotate(1.5deg); }
  70% {
    -webkit-transform: translate(2.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, 2.5px) rotate(0.5deg);
    transform: translate(2.5px, 2.5px) rotate(0.5deg); }
  72% {
    -webkit-transform: translate(-0.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(-0.5px, -1.5px) rotate(1.5deg);
    transform: translate(-0.5px, -1.5px) rotate(1.5deg); }
  74% {
    -webkit-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    transform: translate(-1.5px, 2.5px) rotate(1.5deg); }
  76% {
    -webkit-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    transform: translate(-1.5px, 2.5px) rotate(1.5deg); }
  78% {
    -webkit-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    transform: translate(-1.5px, 2.5px) rotate(0.5deg); }
  80% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg); }
  82% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg); }
  84% {
    -webkit-transform: translate(-0.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(-0.5px, 0.5px) rotate(1.5deg);
    transform: translate(-0.5px, 0.5px) rotate(1.5deg); }
  86% {
    -webkit-transform: translate(2.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, 1.5px) rotate(0.5deg);
    transform: translate(2.5px, 1.5px) rotate(0.5deg); }
  88% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
  90% {
    -webkit-transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg); }
  92% {
    -webkit-transform: translate(-1.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, -1.5px) rotate(1.5deg);
    transform: translate(-1.5px, -1.5px) rotate(1.5deg); }
  94% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(-0.5deg);
    -ms-transform: translate(0.5px, 0.5px) rotate(-0.5deg);
    transform: translate(0.5px, 0.5px) rotate(-0.5deg); }
  96% {
    -webkit-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    transform: translate(2.5px, -0.5px) rotate(-0.5deg); }
  98% {
    -webkit-transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
    transform: translate(-1.5px, -1.5px) rotate(-0.5deg); }
  0%, 100% {
    -webkit-transform: translate(0, 0) rotate(0);
    -ms-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }
@keyframes shaker {
  2% {
    -webkit-transform: translate(0.5px, -1.5px) rotate(-0.5deg);
    -ms-transform: translate(0.5px, -1.5px) rotate(-0.5deg);
    transform: translate(0.5px, -1.5px) rotate(-0.5deg); }
  4% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, 1.5px) rotate(1.5deg);
    transform: translate(0.5px, 1.5px) rotate(1.5deg); }
  6% {
    -webkit-transform: translate(1.5px, 1.5px) rotate(1.5deg);
    -ms-transform: translate(1.5px, 1.5px) rotate(1.5deg);
    transform: translate(1.5px, 1.5px) rotate(1.5deg); }
  8% {
    -webkit-transform: translate(2.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, 1.5px) rotate(0.5deg);
    transform: translate(2.5px, 1.5px) rotate(0.5deg); }
  10% {
    -webkit-transform: translate(0.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(0.5px, 2.5px) rotate(0.5deg);
    transform: translate(0.5px, 2.5px) rotate(0.5deg); }
  12% {
    -webkit-transform: translate(1.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(1.5px, 1.5px) rotate(0.5deg);
    transform: translate(1.5px, 1.5px) rotate(0.5deg); }
  14% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(0.5deg);
    -ms-transform: translate(0.5px, 0.5px) rotate(0.5deg);
    transform: translate(0.5px, 0.5px) rotate(0.5deg); }
  16% {
    -webkit-transform: translate(-1.5px, -0.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, -0.5px) rotate(1.5deg);
    transform: translate(-1.5px, -0.5px) rotate(1.5deg); }
  18% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, 0.5px) rotate(1.5deg);
    transform: translate(0.5px, 0.5px) rotate(1.5deg); }
  20% {
    -webkit-transform: translate(2.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(2.5px, 2.5px) rotate(1.5deg);
    transform: translate(2.5px, 2.5px) rotate(1.5deg); }
  22% {
    -webkit-transform: translate(0.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, -1.5px) rotate(1.5deg);
    transform: translate(0.5px, -1.5px) rotate(1.5deg); }
  24% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg); }
  26% {
    -webkit-transform: translate(1.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(1.5px, 0.5px) rotate(1.5deg);
    transform: translate(1.5px, 0.5px) rotate(1.5deg); }
  28% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
  30% {
    -webkit-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    transform: translate(1.5px, -0.5px) rotate(-0.5deg); }
  32% {
    -webkit-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    transform: translate(2.5px, -1.5px) rotate(1.5deg); }
  34% {
    -webkit-transform: translate(2.5px, 2.5px) rotate(-0.5deg);
    -ms-transform: translate(2.5px, 2.5px) rotate(-0.5deg);
    transform: translate(2.5px, 2.5px) rotate(-0.5deg); }
  36% {
    -webkit-transform: translate(0.5px, -1.5px) rotate(0.5deg);
    -ms-transform: translate(0.5px, -1.5px) rotate(0.5deg);
    transform: translate(0.5px, -1.5px) rotate(0.5deg); }
  38% {
    -webkit-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    transform: translate(2.5px, -0.5px) rotate(-0.5deg); }
  40% {
    -webkit-transform: translate(-0.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(-0.5px, 2.5px) rotate(0.5deg);
    transform: translate(-0.5px, 2.5px) rotate(0.5deg); }
  42% {
    -webkit-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    transform: translate(-1.5px, 2.5px) rotate(0.5deg); }
  44% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  46% {
    -webkit-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(1.5px, -0.5px) rotate(-0.5deg);
    transform: translate(1.5px, -0.5px) rotate(-0.5deg); }
  48% {
    -webkit-transform: translate(2.5px, -0.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, -0.5px) rotate(0.5deg);
    transform: translate(2.5px, -0.5px) rotate(0.5deg); }
  50% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  52% {
    -webkit-transform: translate(-0.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(-0.5px, 1.5px) rotate(0.5deg);
    transform: translate(-0.5px, 1.5px) rotate(0.5deg); }
  54% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(0.5deg);
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  56% {
    -webkit-transform: translate(0.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, 2.5px) rotate(1.5deg);
    transform: translate(0.5px, 2.5px) rotate(1.5deg); }
  58% {
    -webkit-transform: translate(2.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, 2.5px) rotate(0.5deg);
    transform: translate(2.5px, 2.5px) rotate(0.5deg); }
  60% {
    -webkit-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    transform: translate(2.5px, -1.5px) rotate(1.5deg); }
  62% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
  64% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 1.5px) rotate(1.5deg);
    transform: translate(-1.5px, 1.5px) rotate(1.5deg); }
  66% {
    -webkit-transform: translate(0.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(0.5px, 2.5px) rotate(1.5deg);
    transform: translate(0.5px, 2.5px) rotate(1.5deg); }
  68% {
    -webkit-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(2.5px, -1.5px) rotate(1.5deg);
    transform: translate(2.5px, -1.5px) rotate(1.5deg); }
  70% {
    -webkit-transform: translate(2.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, 2.5px) rotate(0.5deg);
    transform: translate(2.5px, 2.5px) rotate(0.5deg); }
  72% {
    -webkit-transform: translate(-0.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(-0.5px, -1.5px) rotate(1.5deg);
    transform: translate(-0.5px, -1.5px) rotate(1.5deg); }
  74% {
    -webkit-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    transform: translate(-1.5px, 2.5px) rotate(1.5deg); }
  76% {
    -webkit-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    transform: translate(-1.5px, 2.5px) rotate(1.5deg); }
  78% {
    -webkit-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    -ms-transform: translate(-1.5px, 2.5px) rotate(0.5deg);
    transform: translate(-1.5px, 2.5px) rotate(0.5deg); }
  80% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg); }
  82% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg); }
  84% {
    -webkit-transform: translate(-0.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(-0.5px, 0.5px) rotate(1.5deg);
    transform: translate(-0.5px, 0.5px) rotate(1.5deg); }
  86% {
    -webkit-transform: translate(2.5px, 1.5px) rotate(0.5deg);
    -ms-transform: translate(2.5px, 1.5px) rotate(0.5deg);
    transform: translate(2.5px, 1.5px) rotate(0.5deg); }
  88% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, 0.5px) rotate(1.5deg);
    transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
  90% {
    -webkit-transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg); }
  92% {
    -webkit-transform: translate(-1.5px, -1.5px) rotate(1.5deg);
    -ms-transform: translate(-1.5px, -1.5px) rotate(1.5deg);
    transform: translate(-1.5px, -1.5px) rotate(1.5deg); }
  94% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(-0.5deg);
    -ms-transform: translate(0.5px, 0.5px) rotate(-0.5deg);
    transform: translate(0.5px, 0.5px) rotate(-0.5deg); }
  96% {
    -webkit-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    -ms-transform: translate(2.5px, -0.5px) rotate(-0.5deg);
    transform: translate(2.5px, -0.5px) rotate(-0.5deg); }
  98% {
    -webkit-transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
    -ms-transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
    transform: translate(-1.5px, -1.5px) rotate(-0.5deg); }
  0%, 100% {
    -webkit-transform: translate(0, 0) rotate(0);
    -ms-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0; } }
@-moz-keyframes load {
  0% {
    stroke-dashoffset: 0; } }
@-ms-keyframes load {
  0% {
    stroke-dashoffset: 0; } }
@-o-keyframes load {
  0% {
    stroke-dashoffset: 0; } }
@keyframes load {
  0% {
    stroke-dashoffset: 0; } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); } }
@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); } }
@-ms-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); } }
@-o-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); } }
@keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); } }
@-webkit-keyframes open {
  0% {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0); }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-moz-keyframes open {
  0% {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0); }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-ms-keyframes open {
  0% {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0); }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-o-keyframes open {
  0% {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0); }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); } }
@keyframes open {
  0% {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0); }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
    -ms-transform: translateX(150%);
    transform: translateX(150%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
@-moz-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
    -ms-transform: translateX(150%);
    transform: translateX(150%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
@-ms-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
    -ms-transform: translateX(150%);
    transform: translateX(150%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
@-o-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
    -ms-transform: translateX(150%);
    transform: translateX(150%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
    -ms-transform: translateX(150%);
    transform: translateX(150%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    transform: translateX(-150%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
@-moz-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    transform: translateX(-150%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
@-ms-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    transform: translateX(-150%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
@-o-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    transform: translateX(-150%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    transform: translateX(-150%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
.double-flash:before {
  color: #ff0000;
  -webkit-animation: double-flash 3s ease infinite;
  /* Chr, Saf */
  animation: double-flash 3s ease infinite;
  /* IE >9, Fx >15, Op >12.0 */
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

.pulse {
  -webkit-animation: pulse 2s linear infinite;
  /* Chr, Saf */
  animation: pulse 2s linear infinite;
  /* IE >9, Fx >15, Op >12.0 */
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

/*# sourceMappingURL=main.css.map */
