

%visuallyhidden {
  position: absolute;
  @include size(1px);
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


%marginAuto {
  @include margin-auto();
}

%left {
  float: left;
}

%right {
  float: right;
}

%none {
  display: none;
}

%center {
  margin-left: auto;
  margin-right: auto;
}

%centerBlock {
  @extend %center;
  display: block;
}

%pointer {
  cursor: pointer;
}

%shadow-2px {
  box-shadow: 0.00px 2.00px 5px 0px rgba(0, 0, 0, 0.35);
}

%smallCaps {
  font-variant: small-caps;
}