

%visuallyhidden {
  position: absolute;
  @include size(1px);
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


%marginAuto {
  @include margin-auto();
}

%left {
  float: left;
}

%right {
  float: right;
}

%none {
  display: none;
}

%center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

%pointer {
  cursor: pointer;
}