// ANIMATIONS
// ---------------------------


@include keyframes('fadeIN') {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@include keyframes('double-flash') {
  0%        { opacity: 1; }
  16.66667% { opacity: 0; }
  33.33333% { opacity: 1; }
  50%       { opacity: 0; }
  66.66667% { opacity: 1; }
  100%      { opacity: 1; }
}

@include keyframes('shaker') {
  2% { @include prefix('transform', translate(0.5px, -1.5px) rotate(-0.5deg));}
  4% { @include prefix('transform', translate(0.5px, 1.5px) rotate(1.5deg));}
  6% { @include prefix('transform', translate(1.5px, 1.5px) rotate(1.5deg));}
  8% { @include prefix('transform', translate(2.5px, 1.5px) rotate(0.5deg));}
  10% { @include prefix('transform', translate(0.5px, 2.5px) rotate(0.5deg));}
  12% { @include prefix('transform', translate(1.5px, 1.5px) rotate(0.5deg));}
  14% { @include prefix('transform', translate(0.5px, 0.5px) rotate(0.5deg));}
  16% { @include prefix('transform', translate(-1.5px, -0.5px) rotate(1.5deg));}
  18% { @include prefix('transform', translate(0.5px, 0.5px) rotate(1.5deg));}
  20% { @include prefix('transform', translate(2.5px, 2.5px) rotate(1.5deg));}
  22% { @include prefix('transform', translate(0.5px, -1.5px) rotate(1.5deg));}
  24% { @include prefix('transform', translate(-1.5px, 1.5px) rotate(-0.5deg));}
  26% { @include prefix('transform', translate(1.5px, 0.5px) rotate(1.5deg));}
  28% { @include prefix('transform', translate(-0.5px, -0.5px) rotate(-0.5deg));}
  30% { @include prefix('transform', translate(1.5px, -0.5px) rotate(-0.5deg));}
  32% { @include prefix('transform', translate(2.5px, -1.5px) rotate(1.5deg));}
  34% { @include prefix('transform', translate(2.5px, 2.5px) rotate(-0.5deg));}
  36% { @include prefix('transform', translate(0.5px, -1.5px) rotate(0.5deg));}
  38% { @include prefix('transform', translate(2.5px, -0.5px) rotate(-0.5deg));}
  40% { @include prefix('transform', translate(-0.5px, 2.5px) rotate(0.5deg));}
  42% { @include prefix('transform', translate(-1.5px, 2.5px) rotate(0.5deg));}
  44% { @include prefix('transform', translate(-1.5px, 1.5px) rotate(0.5deg));}
  46% { @include prefix('transform', translate(1.5px, -0.5px) rotate(-0.5deg));}
  48% { @include prefix('transform', translate(2.5px, -0.5px) rotate(0.5deg));}
  50% { @include prefix('transform', translate(-1.5px, 1.5px) rotate(0.5deg));}
  52% { @include prefix('transform', translate(-0.5px, 1.5px) rotate(0.5deg));}
  54% { @include prefix('transform', translate(-1.5px, 1.5px) rotate(0.5deg));}
  56% { @include prefix('transform', translate(0.5px, 2.5px) rotate(1.5deg));}
  58% { @include prefix('transform', translate(2.5px, 2.5px) rotate(0.5deg));}
  60% { @include prefix('transform', translate(2.5px, -1.5px) rotate(1.5deg));}
  62% { @include prefix('transform', translate(-1.5px, 0.5px) rotate(1.5deg));}
  64% { @include prefix('transform', translate(-1.5px, 1.5px) rotate(1.5deg));}
  66% { @include prefix('transform', translate(0.5px, 2.5px) rotate(1.5deg));}
  68% { @include prefix('transform', translate(2.5px, -1.5px) rotate(1.5deg));}
  70% { @include prefix('transform', translate(2.5px, 2.5px) rotate(0.5deg));}
  72% { @include prefix('transform', translate(-0.5px, -1.5px) rotate(1.5deg));}
  74% { @include prefix('transform', translate(-1.5px, 2.5px) rotate(1.5deg));}
  76% { @include prefix('transform', translate(-1.5px, 2.5px) rotate(1.5deg));}
  78% { @include prefix('transform', translate(-1.5px, 2.5px) rotate(0.5deg));}
  80% { @include prefix('transform', translate(-1.5px, 0.5px) rotate(-0.5deg));}
  82% { @include prefix('transform', translate(-1.5px, 0.5px) rotate(-0.5deg));}
  84% { @include prefix('transform', translate(-0.5px, 0.5px) rotate(1.5deg));}
  86% { @include prefix('transform', translate(2.5px, 1.5px) rotate(0.5deg));}
  88% { @include prefix('transform', translate(-1.5px, 0.5px) rotate(1.5deg));}
  90% { @include prefix('transform', translate(-1.5px, -0.5px) rotate(-0.5deg));}
  92% { @include prefix('transform', translate(-1.5px, -1.5px) rotate(1.5deg));}
  94% { @include prefix('transform', translate(0.5px, 0.5px) rotate(-0.5deg));}
  96% { @include prefix('transform', translate(2.5px, -0.5px) rotate(-0.5deg));}
  98% { @include prefix('transform', translate(-1.5px, -1.5px) rotate(-0.5deg));}
  0%, 100% { @include prefix('transform', translate(0, 0) rotate(0));}
}

@include keyframes('load') {
  0% { stroke-dashoffset:0 }
}

@include keyframes('pulse') {
  0% { @include prefix('transform', scale(1.1)); }
  50% { @include prefix('transform', scale(0.8)); }
  100% { @include prefix('transform', scale(1.1)); }
}

@include keyframes('open') {
  0% { @include prefix('transform', scale(1, 0)); }
  100% { @include prefix('transform', scale(1, 1)); }
}

@include keyframes('slideLeft') {
  0% { @include prefix('transform', translateX(150%)); }
  100% { @include prefix('transform', translateX(0%)); }
}

@include keyframes('slideRight') {
  0% { @include prefix('transform', translateX(-150%)); }
  100% { @include prefix('transform', translateX(0%)); }
}