// COLORS
// ---------------------------

$color-san-marino: #3F51B3;
$color-persian-rose: #FF1493;
$color-amaranth: #E91E63;
$color-gorse: #FFEB3B;

$color-goldenrod: #F7D371;
$color-rose: #FA91E5;

$color-malibu: #8D9DFF;
$color-mauve: #CD97FF;
$color-shamrock: #3BC693;
$color-bittersweet: #FD7372;
$color-supernova: #FACF00;
$color-sunshade: #FFAC31;

